<!--底部联系方式-->
  <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="goipc_container-fluid container-fluid">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <div class="btn-group" role="group">
                <a class="goipc_but btn btn-primary" href="javascript:scroll(0,0)" role="button">顶部
                    <span  class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                </a>
              </div>
              <div class="btn-group" role="group">
                <div class="dropup">
                  <button class="goipc_but btn btn-default btn-primary dropdown-toggle menu_button" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    电话联系
                   <span  class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div>
              </div>
              <div class="btn-group" role="group">
                <a class="goipc_but btn btn-primary" href="sms:13146576872" role="button">短信联系
                    <span  class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </a>
              </div>
            </div>
      </div>
  </nav>