<!--底部联系方式-->
  <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <div class="btn-group" role="group">
                <a class="btn btn-primary" href="/" role="button">首页
                    <span  class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </a>
              </div>

              <div class="btn-group" role="group">

              </div>
              <div class="btn-group" role="group">

              </div>
            </div>
      </div>
  </nav>