{% extends "base.html" %}

{% block body %}

 {% include nav_menu.html %}




<!--产品推荐和分类推荐-->
<div class="container-fluid goipc_recommend">
    <div class="row">
         <div class="goipc_panel panel panel-info">
              <div class="panel-heading">产品推荐
                  <a href="#">
                      <span style="float:right;" class="glyphicon glyphicon-refresh" aria-hidden="true">刷新</span>
                  </a>
              </div>
              <!-- Table -->

             <table class="table table-bordered ">
                 <tbody>
                     <tr>
                         <td>研华原装机IPC-610H</td>
                         <td>研华IPC-610M原装机 </td>
                     </tr>
                     <tr>
                         <td>研华PCA-6011主板</td>
                         <td>研华IPPC-6152A平板</td>
                     </tr>
                     <tr>
                         <td>凌华工控整机RK-610</td>
                         <td>研华IPC-610M原装机</td>
                     </tr>
                 </tbody>
             </table>
          </div>
    </div>
</div>

<!--推荐栏目-->
<div class="container-fluid ">
    <div class="row">
         <div class="goipc_panel panel panel-info">
              <div class="panel-heading">栏目推荐
                  <a href="#">
                      <span style="float:right;" class="glyphicon glyphicon-refresh" aria-hidden="true">刷新</span>
                  </a>
              </div>
              <!-- Table -->
              <table class="table table-bordered ">
                 <tbody>
                     <tr>
                         <td>研华工控整机</td>
                         <td>研华工控机箱</td>
                     </tr>
                     <tr>
                         <td>研华嵌入式工控机</td>
                         <td>研华工业平板电脑</td>
                     </tr>
                     <tr>
                         <td>研华工业显示器</td>
                         <td>凌华工控机</td>
                     </tr>
                 </tbody>
              </table>
          </div>
    </div>
</div>


<!--400 电话联系-->
<div class="container-fluid ">
   <div class="row">
        <div class="goipc_panel panel panel-info">
              <div class="panel-heading">
                  公司介绍
                  <a href="/us/公司简介">
                      <span style="float:right;" class="glyphicon glyphicon-link" aria-hidden="true">详细</span>
                  </a>
              </div>
              <div class="panel-body">
                北京国信智维科技有限公司一直致力于PC-based工控机的推广与应用事业，经过长期的努力，现已成为研华工控机金牌代理商，
                  西门子工控机一级经销商，研祥工控机核心经销商，华北工控机金牌代理商，凌华工控机核心经销商等，
                  欢迎广大客户来电与我公司洽谈。
              </div>
        </div>
   </div>
</div>

<div class="container-fluid">
    <div class="row">
        <ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="#">Profile</a></li>
          <li role="presentation"><a href="#">Messages</a></li>
        </ul>
    </div>
</div>


{% end %}


{% block footer %}

{% end %}