{% extends "base.html" %}

{% block body %}

{% include nav_menu.html %}



<!--slider 产品-->
<div class="container-fluid">
    <div class="row">

         <div class="bs-example" >
             <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item  active" align="center">
                  <a href="/product/研华工控整机/研华原装机IPC-610H/">
                      <img  style="width:240px; height:150px;" src="/static/upload/image/2015-06-25/254374-IPC-610H.jpg" alt="...">
                      <div class="carousel-caption">
                         研华原装机IPC-610H
                      </div>
                  </a>
                </div>

                <div class="item"  align="center">
                  <a href="/product/研华CPU卡式工业主板/研华卡式主板PCA-6010/">
                      <img style="width:240px; height:150px;" src="/static/upload/file/2015-07-04/115632-PCA-6010.jpg" alt="...">
                      <div class="carousel-caption">
                        研华卡式主板PCA-6010
                      </div>
                  </a>
                </div>

                <div class="item"  align="center" >
                    <a href="/product/研华工控整机/研华IPC-610MB-L原装机/">
                       <img style="width:240px; height:150px;" src="/static/upload/file/2015-06-25/823961-ipc-610MB-L.jpg" alt="...">
                      <div class="carousel-caption">
                        研华IPC-610MB-L原装机
                      </div>
                    </a>
                </div>

                <div class="item"  align="center">
                     <a href="/product/研华工控机箱/研华6槽小机箱IPC-6606/">
                          <img style="width:240px; height:150px;" src="/static/upload/file/2015-07-02/814337-IPC-6606.gif" alt="...">
                          <div class="carousel-caption">
                            研华6槽小机箱IPC-6606
                          </div>
                     </a>
                </div>


              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
         </div>

    </div>
</div>



<!--推荐栏目-->
<div class="container-fluid ">
    <div class="row">
         <div class="goipc_panel panel panel-info">
              <div class="panel-heading">栏目推荐
                  <a href="#">
                      <span style="float:right;" class="glyphicon glyphicon-refresh" aria-hidden="true">刷新</span>
                  </a>
              </div>
              <!-- Table -->
              <table class="table table-bordered ">
                 <tbody>
                     <tr>
                         <td><a href="/cata/研华工控整机/">研华工控整机</a> </td>
                         <td><a href="/cata/研华工控机箱/">研华工控机箱</a> </td>
                     </tr>
                     <tr>
                         <td><a href="/cata/研华嵌入式工控机/">研华嵌入式工控机</a></td>
                         <td><a href="/cata/研华工业平板电脑/">研华工业平板电脑</a></td>
                     </tr>
                     <tr>
                         <td><a href="/cata/研华工业显示器/">研华工业显示器</a></td>
                         <td><a href="/brand/凌华工控产品/">凌华工控机</a></td>
                     </tr>
                 </tbody>
              </table>
          </div>
    </div>
</div>


<!--400 公司介绍-->
<div class="container-fluid ">
   <div class="row">
        <div class="goipc_panel panel panel-info">
              <div class="panel-heading">
                  公司介绍
                  <a href="/us/公司简介/">
                      <span style="float:right;" class="glyphicon glyphicon-link" aria-hidden="true">详细</span>
                  </a>
              </div>
              <div class="panel-body">
                北京国信智维科技有限公司一直致力于PC-based工控机的推广与应用事业，经过长期的努力，现已成为研华工控机金牌代理商，
                  西门子工控机一级经销商，研祥工控机核心经销商，华北工控机金牌代理商，凌华工控机核心经销商等，
                  欢迎广大客户来电与我公司洽谈。
              </div>
        </div>
   </div>
</div>


{% end %}


{% block footer %}
    {% include tel.html %}
    {% include footer.html %}
    {% include FooterTel.html %}
{% end %}