{% extends "base.html" %}

{% block body %}

 {% include nav_menu.html %}




<!--产品推荐和分类推荐-->
<div class="container-fluid goipc_recommend">
    <div class="row">
             <div class="col-xs-7 no_padding_left">
                 <div class="goipc_panel panel panel-primary">
                      <div class="panel-heading">产品推荐</div>
                      <!-- Table -->
                      <ul class="list-group">
                          <li class="list-group-item">研华原装机IPC-610H</li>
                          <li class="list-group-item">研华IPC-610M原装机</li>
                          <li class="list-group-item">研华PCA-6011主板</li>
                          <li class="list-group-item">研华IPPC-6152A平板</li>
                          <li class="list-group-item">凌华工控整机RK-610</li>
                       </ul>
                  </div>
             </div>
             <div class="col-xs-5 no_padding_right">
                 <div class="goipc_panel panel panel-primary">
                      <div class="panel-heading">栏目推荐</div>
                      <!-- Table -->
                      <ul class="list-group">
                          <li class="list-group-item">研华工控整机</li>
                          <li class="list-group-item">研华工控机箱</li>
                          <li class="list-group-item">研华工控整机</li>
                          <li class="list-group-item">研华工控整机</li>
                          <li class="list-group-item">研华工控整机</li>
                       </ul>
                  </div>
             </div>
    </div>
</div>
<!--400 电话联系-->
<div class="container-fluid ">
   <div class="row">
        <div class="goipc_panel panel panel-primary">
              <div class="panel-heading">公司介绍</div>
              <div class="panel-body">
                北京国信智维科技有限公司 （简称国信智维）是由一批多年从事工业自动化控制领域的专业人员组成的高科技型企业，公司成立于中关村高科技园区。
                  成立伊始，国信智维即确立了以 工业控制计算机 及工业自动化控制产品的开发应用、代理销售、集成与服务等经营路线，拥有自主品牌的工业控制计算机产品；
                  国信智维更加整合了众多工控厂商的产品，形成一个多方位、全面的产品体系，产品涵盖：
                  应用于控制室的机架式工业控制计算机；应用于勘探、测量等野外作业的便携式工控机；应用于生产现场的面板式工控机；
              </div>
        </div>
   </div>
</div>

<div class="container-fluid">
    <div class="row">
        <ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="#">Profile</a></li>
          <li role="presentation"><a href="#">Messages</a></li>
        </ul>
    </div>
</div>


{% end %}


{% block footer %}

{% end %}