{% extends "base.html" %}

{% block body %}

{% include nav_menu.html %}





<!--产品信息-->
<div class="container-fluid ">
   <div class="row">

       <!-- 品牌分类-->
       <div class="band_cata_nav panel panel-info">
          <div class="panel-heading"><strong>{{ infodict["brand"]}}分类</strong></div>
          <div class="panel-body goipc_no_padding">
            <div class="goipc_no_margin list-group">
               {% for item in arrCatas %}
                <a href="/cata/{{ item["cataName"] }}/" class="goipc_list-group-item list-group-item ">{{ item["cataName"] }}</a>
               {% end  %}
            </div>
          </div>
        </div>

        <!--产品列表-->
       <div class="band_cata_nav panel panel-info">
          <div class="panel-heading"><strong>{{ infodict["brand"]}}-推荐产品列表</strong></div>
          <div class="panel-body goipc_no_padding">
                <div class="goipc_no_margin list-group">
                    {% for item in brandItems %}
                    <div class="goipc_media media">
                      <a href="/product/{{item["cata"]}}/{{item["title"]}}/">
                      <div class="media-left media-middle">
                          <img class="media-object" style="width: 80px; height: 60px;" src="{{ item["image"] }}"  alt="...">
                      </div>
                      <div class="media-body">
                        <h5 class="media-heading">{{ item["title"] }} <span class="badge">{{ item["readtimes"] }}</span></h5>
                        <small>{{ item["desp"] }}</small>
                      </div>
                      </a>
                    </div>
                    {% end  %}
                </div>
          </div>
        </div>

   </div>
</div>

   </div>
</div>



{% end %}


{% block footer %}
  {% include footer.html %}
  {% include FooterTel.html %}
{% end %}


{% block endJs  %}


{% end %}