{% extends "base.html" %}

{% block body %}

{% include nav_menu.html %}





<!--产品信息-->
<div class="container-fluid ">
   <div class="row">

       <!--路径导航-->
        <ol class="goipc_nav_path breadcrumb">
          <li><a href="#">{{ info_dict["brand"]}}</a></li>
          <li><a href="#">{{ info_dict["cata"]}}</a></li>
        </ol>

       <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th id="ckButton1">品牌名称</th>
                        <th>产品型号</th>
                    </tr>
                </thead>

                <tbody>
                   {% for item in brands %}
                    <tr>
                        <td>
                            <div class="bandname"> {{ escape(item["brand"]) }} </div>
                        </td>
                        <td>
                             {% for cata in item["catalist"] %}
                                <li class="cataItem" >{{ escape(cata) }}</li>
                             {% end %}
                        </td>
                    </tr>
                   {% end %}

                </tbody>
       </table>

   </div>
</div>



{% end %}


{% block footer %}
  {% include FooterTel.html %}
{% end %}
{% block endJs  %}


{% end %}