{% extends "base.html" %}

{% block body %}

{% include nav_menu.html %}





<!--产品信息-->
<div class="container-fluid ">
   <div class="row">

       <!--路径导航-->
        <ol class="goipc_nav_path breadcrumb">
          <li><a href="#">{{ infodict["brand"]}}</a></li>
        </ol>


       <div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src={{ item["image"]}} alt="...">
                </a>
            </div>
            <div>
               <h5 class="list-group-item-heading">{{ item["title"] }}</h5>
                <p class="list-group-item-text">{{ item["desp"] }}</p>
            </div>
       </div>

       <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="..." alt="...">
        </a>
       </div>

        <div class="list-group">
          {% for item in brandItems %}
            <div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="" alt="...">
                    </a>
                </div>
                <div>
                   <h5 class="list-group-item-heading">{{ item["title"] }}</h5>
                    <p class="list-group-item-text">{{ item["desp"] }}</p>
                </div>
           </div>
          {% end  %}
        </div>

       <!--<a href="#" class="list-group-item">-->
             <!--<div>-->

             <!--</div>-->
            <!--<h4 class="list-group-item-heading">{{ item["title"] }}</h4>-->
            <!--<p class="list-group-item-text">{{ item["desp"] }}</p>-->
        <!--</a>-->
   </div>
</div>

   </div>
</div>



{% end %}


{% block footer %}
  {% include FooterTel.html %}
{% end %}
{% block endJs  %}


{% end %}