{% extends "base.html" %}

{% block body %}

{% include nav_menu.html %}





<!--产品信息-->
<div class="container-fluid ">
   <div class="row">

       <!--路径导航-->
        <ol class="goipc_nav_path breadcrumb">
          <li><a href="#">{{ infodict["brand"]}}</a></li>
        </ol>


        <div class="list-group">
          {% for item in brandItems %}
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">{{ item["title"] }}</h4>
            <p class="list-group-item-text">{{ item["desp"] }}</p>
          </a>
          {% end  %}
        </div>
   </div>
</div>

   </div>
</div>



{% end %}


{% block footer %}
  {% include FooterTel.html %}
{% end %}
{% block endJs  %}


{% end %}