<!--头部公司名称-->
<div class="container-fluid">
    <div class="row">
        <div class="goipc_brand page-header text-center">
          <h4>北京国信智维 <small>工控机销售和服务专家</small></h4>
        </div>
    </div>
</div>

 <!--顶部导航栏-->
<div class="container-fluid">
    <div  class="row" >
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <div class="btn-group" role="group">
                <a class="btn btn-primary" href="/" role="button">首页</a>
              </div>

              <div class="btn-group" role="group">
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle menu_button" type="button" id="DMU_product" data-toggle="dropdown" aria-expanded="true">
                    产品中心
                    <span class="goipc_glyphicon glyphicon  glyphicon-menu-hamburger" aria-hidden="true">
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="DMU_product">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">研华工控产品</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">凌华工控产品</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">华北工控产品</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">西门子工控产品</a></li>
                  </ul>
                </div>
              </div>
              <div class="btn-group" role="group">
                <div class="dropdown">
                  <button class="menu_button btn btn-primary menu_button " type="button" id="DMU_ABOUT" data-toggle="dropdown" aria-expanded="true">
                    联系我们
                    <span class="goipc_glyphicon glyphicon  glyphicon-menu-hamburger" aria-hidden="true">
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="DMU_ABOUT">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/us/公司简介">公司简介</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/us/联系我们">联系我们</a></li>
                  </ul>
                </div>
              </div>
            </div>
    </div>
</div>




