<div class="container">
    <div class="row">
        <div class="">


        </div>
    </div>
</div>

 <!--导航栏-->
<div class="container-fluid">
    <div  class="row" ba>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-info menu_button">首页</button>
              </div>

              <div class="btn-group" role="group">
                <div class="dropdown">
                  <button class="btn btn-info dropdown-toggle menu_button" type="button" id="DMU_product" data-toggle="dropdown" aria-expanded="true">
                    产品中心
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="DMU_product">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">研华工控产品</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">凌华工控产品</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">华北工控产品</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">西门子工控产品</a></li>
                  </ul>
                </div>
              </div>
              <div class="btn-group" role="group">
                <div class="dropdown">
                  <button class="goipc_menu_button btn btn-info menu_button " type="button" id="DMU_ABOUT" data-toggle="dropdown" aria-expanded="true">
                    联系我们
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="DMU_ABOUT">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">公司简介</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">联系我们</a></li>
                  </ul>
                </div>
              </div>
            </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="">


        </div>
    </div>
</div>