{% extends "base.html" %}

{% block body %}

{% include nav_menu.html %}

<!--路径导航-->
<ol class="breadcrumb">
  <li><a href="#">{{ newsItem["brand"]}}</a></li>
  <li><a href="#">{{ newsItem["cata"]}}</a></li>
</ol>


<!--产品信息-->
<div class="container-fluid ">
   <div class="row">
        <div class="goipc_panel panel">
              <div class="panel-heading">{{ newsItem["title"]}}</div>
              <div class="panel-body">
                {{ newsItem["context"]}}
              </div>
        </div>
   </div>
</div>



{% end %}


{% block footer %}

{% end %}