<!--快速联系-->
<div class="container-fluid">
    <div class="row">
        <div class="goipc_panel panel panel-info">
            <div class="panel-heading">
              联系我们
              <a href="/us//联系我们">
                  <span style="float:right;" class="glyphicon glyphicon-user" aria-hidden="true">详细</span>
              </a>
            </div>
           <!-- Table -->
          <table class="table table-bordered ">
             <tbody>
                 <tr>
                     <td>热线电话:400-6686-990</td>
                     <td>公司总机:010-53510571</td>
                 </tr>
                 <tr>
                     <td>研华嵌入式工控机</td>
                     <td>研华工业平板电脑</td>
                 </tr>
                 <tr>
                     <td>研华工业显示器</td>
                     <td>凌华工控机</td>
                 </tr>
             </tbody>
          </table>
        </div>
    </div>
</div>