<!--快速联系-->
<div class="container-fluid">
    <div class="row">
        <div class="goipc_panel panel panel-info">
            <div class="panel-heading">
              联系我们
              <a href="/us/联系我们">
                  <span style="float:right;" class="glyphicon glyphicon-user" aria-hidden="true">详细</span>
              </a>
            </div>
           <!-- Table -->
          <table class="table table-bordered ">
             <tbody>
                 <tr>
                     <td>热线:400-6686-990</td>
                     <td>总机:010-53510571</td>
                 </tr>
                 <tr>
                     <td>18500232613/13146576872</td>
                     <td>传真:010-82535756</td>
                 </tr>
             </tbody>
          </table>
        </div>
    </div>
</div>