
body {
    padding-left: 1px;
    padding-right: 1px;
}

blockquote {
   border-left-color: rgb(85, 174, 117);
}


.table {
    font-size: 12px;
}
.ke-zeroborder {
    font-size: 12px;
}



.no_padding_left {
    padding-right: 2px;
    padding-left: 0px;
}

.no_padding_right {
    padding-right: 0px;
    padding-left: 1px;
}

.goipc_panel {
    margin-bottom: 3px;
    margin-top: 3px;
    border-color: #2e6da4;
}

.goipc_glyphicon {
    top :3px ;
}


.menu_button {
    border-radius: 0px;
}

.goipc_brand {
    padding-top: 2px;
    margin: 0 0 0 0;
    padding-bottom: 0;
}

.goipc_recommend {
    margin: 3px 0 0 0;
}

.goipc_right_pos {
    margin-right: 8px;
}

.no_margin-bottom {
    margin-bottom: 0px;
}