{% block admin_top_menu %}

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" >GoIPC 管理后台</a>

          <div class="nav-collapse collapse ">
            <ul class="nav ">

              <li class="">
                <a href="/admin/category">品牌分类</a>
              </li>

              <li class="dropdown" id="fat-menu">
                  <a data-toggle="dropdown" class="dropdown-toggle"  href="#">内容管理 <b class="caret"></b></a>
                  <ul  class="dropdown-menu">
                    <li  ><a href="#" tabindex="-1" >列表</a></li>
                    <li class="divider" ></li>
                    <li ><a href="/admin/addProduct" tabindex="-1" >添加内容</a></li>
                  </ul>
               </li>
            </ul>

            <ul class="nav pull-right">
                <li class="dropdown" id="fat-menu">
                  <a data-toggle="dropdown" class="dropdown-toggle"  href="#">管理员:{{admin_user }} <b class="caret"></b></a>
                  <ul  class="dropdown-menu">
                    <li  ><a href="#" tabindex="-1" >退出</a></li>
                    <li class="divider" ></li>
                    <li ><a href="#" tabindex="-1" >修改资料</a></li>
                  </ul>
                </li>
             </ul>


          </div>
        </div>
      </div>
    </div>

 {% end %}