{% block admin_top_menu %}

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" >GoIPC后台</a>

          <div class="nav-collapse collapse ">
            <ul class="nav ">

              <li class="">
                <a href="/admin/category">分类管理</a>
              </li>
              <li class="">
                <a href="">产品管理</a>
              </li>

              <li class="menu-item-right"> <a href="">管理员: {{admin_user }} </a> </li>
            </ul>

            <ul class="nav pull-right">
                <li class="dropdown" id="fat-menu">
                  <a data-toggle="dropdown" class="dropdown-toggle" role="button" id="drop3" href="#">Dropdown 3 <b class="caret"></b></a>
                  <ul aria-labelledby="drop3" role="menu" class="dropdown-menu">
                    <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Action</a></li>
                    <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another action</a></li>
                    <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Something else here</a></li>
                    <li class="divider" role="presentation"></li>
                    <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Separated link</a></li>
                  </ul>
                </li>
             </ul>


          </div>
        </div>
      </div>
    </div>

 {% end %}