{% extends "../base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ static_url("css/contextMenu.css")}}" type="text/css"/>

{% end %}

{% block body %}
    {% include admin_nav_menu.html  %}

<div class="container">
  <div class="row">

   {% include category_left.html %}

   <!--- 显示品牌和产品分类 -->
    <div class="span7 offset1 ">
        <!--警告对话框  -->
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Warning!</strong> Best check yo self, you're not looking too good.
        </div>

      <!--Body content-->
        <div class="">
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th id="ckButton1">品牌名称</th>
                        <th>产品型号</th>
                    </tr>
                </thead>

                <tbody>
                   {% for item in brands %}
                    <tr>
                        <td>
                            <div class="bandname"> {{ escape(item["brand"]) }} </div>
                        </td>
                        <td>
                             {% for cata in item["cata"] %}
                                <li>{{ escape(cata) }}</li>
                             {% end %}
                        </td>
                    </tr>
                   {% end %}

                </tbody>
            </table>
        </div>
  </div>
</div>


    <!-- Modal 添加品牌对话  -->
    <div id="brand" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">添加品牌分类</h3>
        </div>
        <div class="modal-body">
            <div id="callback-bandname" class="alert alert-error"></div>
             <form class="" id="brand-form" action="/admin/addbrand" method="POST">
                <input type="text" id="brandname" name="brandname" class="input-block-level " placeholder="研华工控产品"><br/>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" id="bandCloseBtn" >关闭</a>
            <a href="#" class="btn btn-primary" id="btnAddBand">添加</a>
      </div>
    </div>
    <!-- Modal 添加品牌对话  end-->





{% end %}


{% block footer %}

{% end %}


{% block endJs  %}

        <script>
            $(window).bind('beforeunload',function(){
            //return '您输入的内容尚未保存，确定离开此页面吗？';
             $.post( "/admin/logout");
             });
        </script>

        <script type="text/javascript" src="{{static_url("js/jquery.validate.min.js")}}"></script>
        <script type="text/javascript">
           $().ready(  function() {
               $("#brand-form").validate({
                    rules: {
                        brandname: {
                            required:true,
                            minlength :5
                        },
                    },
                    messages: {
                        brandname: {
                           required: "请填写产品分类名称",
                           minlength: "产品分类长度不能小于六位"
                        }
                    },
               });
           });
        </script>


         <script>
             <!--刷新当前页面 -->
            $("#id_refresh").click(function() {
                console.log("刷新当前页面")
                window.location.reload();
            })

            <!--  添加品牌的功能函数   -->
            $( "#btnAddBand" ).click(function() {
                var $form = $( "#brand-form" );
                brandname = $form.find( 'input[name="brandname"]' ).val(),
                url = $form.attr( 'action' );
                if($form.valid()) {
                    $.post( url, { brandname: brandname },
                    function( data ) {
                        var content = $( data ).find( 'content' );
                        $( "#callback-bandname" ).empty().append( data["content"]).append(data["state"]);
                        console.log("添加品牌分类" ,data["state"] ,data["content"])
                    },"json");
                }
            });


            $("#bandCloseBtn").click(function() {
                $( "#callback-bandname" ).empty() ;
                $( "#brandname" ).empty() ;
            });
        </script>

        <script type="text/javascript" src="{{static_url("js/jquery.cookie.js")}}"></script>
        <script type="text/javascript">
        $(function(){
             $('.bandname').click(function() {
                console.log("set band name" , $(this).text())
                $.cookie('brandname', $(this).text());
             }) ;
        }) ;
       </script>


        <!-- 品牌和分类 添加  -->
        <script type="text/javascript" src="{{static_url("js/jquery.msgbox.min.js")}}"></script>
        <script type="text/javascript" src="{{static_url("js/contextMenu.js")}}"></script>
        <script type="text/javascript">
            var ck_menu = [{
                name: '修改',
                fun: function (data,even) {
                      window.location.href =('/admin/editBrand?brandname='+$.cookie('brandname') );
                }
            },  {
                name: '删除',
                fun: function (data,even) {
                    $.confirm("确认删除 " + $.cookie('brandname'),function(bool){
                        if(bool) {
                            $.get("/admin/deleteBrand",{"brandname": $.cookie('brandname')},
                                function(data) {
                                    $.alert(data["content"])
                                }
                            )
                        }
                    });
                }
            }];

            //Calling context menu
             $('.bandname').contextMenu(ck_menu);
        </script>


{% end %}