{% extends "../base.html" %}

{% block head %}


{% end %}

{% block body %}
    {% include admin_nav_menu.html  %}

<div class="container">
  <div class="row">

   {% include category_left.html %}


   <!--- 显示品牌和产品分类 -->
    <div class="span8  offset1 ">
          <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th>选项</th>
                        <th>详细信息</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>品牌名称 </td>
                        <td> {{ escape(brandItems["brandname"]) }} </td>
                    </tr>
                    <tr>
                        <td>关键字</td>
                        <td> <textarea rows="2" class="span5" id="keywords" >{{ escape(brandItems["keywords"])}}</textarea> </br></td>
                    </tr>
                     <tr>
                        <td>描述</td>
                        <td> <textarea rows="3" class="span5" id="descp" >{{ escape(brandItems["Description"])}} </textarea> </br> </td>
                    </tr>
                </tbody>
           </table>
           <div id="msg"></div>
          <div align="center" ><button id="btn-save" class="btn btn-primary btn-success" type="button">保存</button></div>

    </div>
  </div>
</div>

{% end %}


{% block footer %}

{% end %}


{% block endJs  %}

        <script>
            $(window).bind('beforeunload',function(){
            //return '您输入的内容尚未保存，确定离开此页面吗？';
             $.post( "/admin/logout");
             });
        </script>


         <script type="text/javascript" src="{{static_url("js/jquery.cookie.js")}}"></script>
         <script type="text/javascript" src="{{static_url("js/jquery.msgbox.min.js")}}"></script>
         <script>
             <!--刷新当前页面 -->
            $("#id_refresh").click(function() {
                console.log("刷新当前页面")
                window.location.reload();
            })

          <!-- save brand item -->
           $("#btn-save").click( function() {
                $("#msg").empty()
               if( $("#keywords").val().length < 3)  {
                    $.alert("关键字端太短")
                    $("#msg").empty().text("关键字端太短")
                    return ;
               }

                if( $("#descp").val().length < 3)  {
                    $.alert("描述字段太短")
                    $("#msg").empty().text("描述字段太短")
                    return ;
                }

                $.post("/admin/editBrand", {"brandname":$.cookie('brandname') ,"keywords":$("#keywords").val(),"descp":$("#descp").val() },
                    function( data ) {
                        var content = $( data ).find( 'content' );
                        $( "#msg" ).empty().append( data["content"]).append(data["state"]);
                    },"json");

           });


            <!--  添加品牌的功能函数   -->
            $( "#btnAddBand" ).click(function() {
                var $form = $( "#brand-form" );
                brandname = $form.find( 'input[name="brandname"]' ).val(),
                url = $form.attr( 'action' );
                if($form.valid()) {
                    $.post( url, { brandname: brandname },
                    function( data ) {
                        var content = $( data ).find( 'content' );
                        $( "#callback-bandname" ).empty().append( data["content"]).append(data["state"]);
                        console.log("添加品牌分类" ,data["state"] ,data["content"])
                        $.alert(data["content"] + "  " + data["state"])
                    },"json");
                }
            });
        </script>

{% end %}