
 <!--Sidebar content-->
    <div class="span3  bs-docs-sidebar">
       <ul class="nav nav-list bs-docs-sidenav ">
          <li class=""><a href="#"> <button id="id_refresh" type="button" class="btn btn-primary">刷新当前页面</button></a></li>
          <li class=""><a href="#brand"  data-toggle="modal"> <i class="icon-chevron-right"></i>快速添加品牌</a></li>

          <li class=""><a href="#fluidGridSystem"><i class="icon-chevron-right"></i> 添加品牌</a></li>
          <li class="active"><a href="#layouts"><i class="icon-chevron-right"></i> 布局</a></li>

        </ul>
    </div>