{% extends "../base.html" %}

{% block head %}


    <!-- 配置文件 -->
    <script type="text/javascript" src={{static_url("ueditor/ueditor.config.js")}}></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src={{static_url("ueditor/ueditor.all.js")}}></script>




{% end %}

{% block body %}
    {% include admin_nav_menu.html  %}

    <div class="container">
        <div class="row">
            <div class="span3">

            </div>
            <div class="span9">

                <ul class="breadcrumb">
                  <li><a href="#">添加产品</a> <span class="divider">/</span></li>
                </ul>

                <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th>属性</th>
                        <th class="span7">属性值</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>产品名称</td><td><input class="span5" type="text" placeholder="请输入产品名称"></td>
                    </tr>
                     <tr>
                         <td>品牌分类</td>
                         <td>
                             <select id="brandsel">
                                 {% for brand in info_dict["brandlist"] %}
                                    <option> {{ escape(brand) }}</option>
                                 {% end %}
                              </select>
                         </td>
                     </tr>
                      <tr>
                         <td>产品分类</td>
                         <td>
                              <select id="cataSel" >
                                {% for cata in info_dict["catalist"] %}
                                    <option> {{ escape( cata["cataName"]) }}</option>
                                 {% end %}
                              </select>
                          </td>
                     </tr>
                     <tr>
                         <td>关键字</td>
                         <td><textarea class="span7" id="keywords" ></textarea></td>
                     </tr>
                     <tr>
                         <td>描述</td>
                          <td><textarea class="span7" id="keywords" ></textarea></td>
                     </tr>
                     <tr>
                         <th>产品图片</th>
                         <td>
                            <div class="input-append">
                              <input class="span5" id="appendedInputButton" type="text">
                              <button class="btn" type="button">上传图片!</button>
                            </div>
                         </td>
                     </tr>
                </tbody>
            </table>

            </div>
        </div>
    </div>
{% end %}


{% block footer %}
{% end %}


{% block endJs  %}
     <script type="text/javascript" src="{{static_url("js/jquery.msgbox.min.js")}}"></script>
     <script>
        $(window).bind('beforeunload',function(){
        //return '您输入的内容尚未保存，确定离开此页面吗？';
         $.post( "/admin/logout");
         });
    </script>

    <script>
        $("#brandsel").change( function() {
            console.log($("#brandsel option:selected").text())

            $.get("/admin/getCatasByBrand", {"brandname":$("#brandsel option:selected").text()},
                    function( data )
                    {
                        $("#cataSel").empty()
                        if(data["state"] >0 )  {
                            for (index in data["brandlist"]) {
                                var cataItem =data["brandlist"][index]
                                $("#cataSel").append('<option>' + data["brandlist"][index]["cataName"] + '</option>')
                            }
                        }
                        else {
                        }
                    },"json");

        })
    </script>


    <!-- 实例化编辑器
    <script type="text/javascript">
        var ue = UE.getEditor('container');
         function isFocus(e){
        alert(UE.getEditor('editor').isFocus());
        UE.dom.domUtils.preventDefault(e)
    }
    -->

    </script>



{% end %}