{% extends "../base.html" %}

{% block head %}


    <!-- 配置文件 -->
    <script type="text/javascript" src={{static_url("ueditor/ueditor.config.js")}}></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src={{static_url("ueditor/ueditor.all.js")}}></script>




{% end %}

{% block body %}
    {% include admin_nav_menu.html  %}

    <div class="container">
        <div class="row">
            <div class="span3">

            </div>
            <div class="span9">

                <ul class="breadcrumb">
                  <li><a href="#">添加产品</a> <span class="divider">/</span></li>
                </ul>

                <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th>属性</th>
                        <th class="span7">属性值</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>产品名称</td><td><input class="" type="text" placeholder="请输入产品名称"></td>
                    </tr>
                     <tr>
                         <td>品牌分类</td><td><select >
                                                  <option>1</option>
                                                  <option>2</option>
                                                </select></td>
                     </tr>
                      <tr>
                         <td>产品分类</td> <td> <select >  </select></td>
                     </tr>
                     <tr>
                         <td>关键字</td>
                         <td><textarea class="span7" id="keywords" ></textarea></td>
                     </tr>
                     <tr>
                         <td>描述</td>
                          <td><textarea class="span7" id="keywords" ></textarea></td>
                     </tr>
                     <tr>
                         <th>产品图片</th>
                         <td>
                            <div class="input-append">
                              <input class="" id="appendedInputButton" type="text">
                              <button class="btn" type="button">Go!</button>
                            </div>
                         </td>
                     </tr>
                </tbody>
            </table>

            </div>
        </div>
    </div>
{% end %}


{% block footer %}
{% end %}


{% block endJs  %}
     <script>
        $(window).bind('beforeunload',function(){
        //return '您输入的内容尚未保存，确定离开此页面吗？';
         $.post( "/admin/logout");
         });
    </script>


    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('container');
         function isFocus(e){
        alert(UE.getEditor('editor').isFocus());
        UE.dom.domUtils.preventDefault(e)
    }

    </script>



{% end %}