
<html lang="zh-cn">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ escape(handler.settings["blog_title"]) }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- Bootstrap css file v2.2.1 -->
    <link rel="stylesheet" type="text/css" href="{{static_url("bootstrap/css/bootstrap.min.css")}}">
    <link href="{{static_url("bootstrap/css/bootstrap-responsive.css")}}" rel="stylesheet">


    <link rel="stylesheet" href="{{ static_url("stickup.css")}}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url("site.css")}}" type="text/css"/>


     {% block head %}{% end %}
  </head>
  <body>




     {% include nav_menu_bs_v2.html %}

     {% block body %}{% end %}

     {% block footer %}{% end %}

    <script src="{{static_url("jquery/jquery-1.11.2.min.js") }}"> </script>
    <script type="text/javascript" src="{{static_url("bootstrap/js/bootstrap.js")}}"></script>

    <script src="{{static_url("jquery/stickUp.js") }}"> </script>
    <script type="text/javascript">
      //initiating jQuery
      jQuery(function($) {
        $(document).ready( function() {
          //enabling stickUp on the '.navbar-wrapper' class
          $('.navbar-wrapper').stickUp({
              marginTop: 'auto'
          });
        });
      });

    </script>
  </body>




</html>

