{% extends "base.html" %}
{% block title %}
    404,Not Found
{% end %}



{% block body %}

     <div class="container">
       <div class="row">
           <div class="span12">
                <div class="panel panel-danger" data-toggle="collapse">
                    <div class="panel-heading">
                        <h3>请求的网页不存在</h3>
                    </div>
                    <div class="panel-body">
                        <blockquote>
                             <big>页面没有找到，你可以返回<a href="http://3g.goipc.cn">首页</a></big>
                        </blockquote>
                    </div>
                    <div class="panel-footer">
                        <h5>北京国信智维科技有限公司Copyright©2013~2015 </h5>
                        <br/>
                            网站支持:root@goipc.cn
                    </div>
                </div>
           </div>
       </div>
     </div>


{% end %}
