{% extends "base.html" %}

{% block body %}
        <div class="jumbotron">
            <div class="container">
                <hi>Welcom to the Site </hi>
                <p> Insert Maketing copy here.</p>
            </div>
        </div>
         <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>About</h2>
                    <p>{{  lorm   }}</p>
                </div>
                <div class="col-md-6">
                    <h2> Contact </h2>
                    <p> {{  lorm   }} </p>
                </div>
            </div>
        <div>


{% end %}


{% block footer %}


{% end %}